<div class="row justify-content-center mt-2 mb-2 content-form">
    <div class="col-sm-8">
        <h3 class="text-center text-success">Đổi mật khẩu</h3>

        <form class="row g-3" (ngSubmit)="onSubmit()" [formGroup]="myForm">
            <div class="col-sm-12">
                <label for="oldPassword" class="form-label">Mật khẩu cũ</label>
                <input type="password" class="form-control" placeholder="Nhập mật khẩu cũ" formControlName="oldPassword" [ngClass]="{ 'is-invalid': submitted && oldPassword?.errors}">

                <div *ngIf="submitted && oldPassword?.invalid" class="invalid-feedback">
                    <div *ngIf="oldPassword?.errors?.['required']">Bạn chưa nhập mật khẩu cũ</div>
                    <div *ngIf="oldPassword?.errors?.['maxlength']">Mật phải khẩu nhỏ hơn 50 ký tự</div>
                </div>
            </div>

            <div class="col-sm-12">
                <label for="newPassword" class="form-label">Mật khẩu mới</label>
                <input type="password" class="form-control" placeholder="Nhập mật khẩu mới" formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && newPassword?.errors}">

                <div *ngIf="submitted && newPassword?.invalid" class="invalid-feedback">
                    <div *ngIf="newPassword?.errors?.['required']">Bạn nhập mật khẩu mới</div>
                    <div *ngIf="newPassword?.errors?.['maxlength']">Mật phải khẩu nhỏ hơn 50 ký tự</div>
                </div>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary ms-2" (click)="onBack()">Quay lại</button>
            </div>
        </form>
    </div>
</div>