<div class="row bg-dark text-white p-3 mt-3">
    <div class="col-sm-6 footer-img">
        <img src="/assets/logo/logo.png">
    </div>
    <div class="col-sm-6 border-start">
        <h3>THÔNG TIN LIÊN HỆ</h3>
        <div>
            <i class="bi bi-geo-alt-fill"></i> 18 Phố Viên - Đức Thắng - Bắc Từ Liêm - Hà Nội
        </div>
        <div>
            <i class="bi bi-telephone-fill"></i> 037 606 5656
        </div>
        <div>
            <i class="bi bi-envelope-fill"></i> m3ssi102672@gmail.com
        </div>
        <div>
            <i class="bi bi-facebook"></i> Hồ Tiến
        </div>
    </div>
</div>