<div class="row justify-content-center mt-2 mb-2 content-form">
    <div class="col-sm-8">
        <h3 class="text-center text-success">Thay mật khẩu mới</h3>

        <form class="row g-3" (ngSubmit)="onSubmit()" [formGroup]="myForm">
            <div class="col-sm-12">
                <label for="password" class="form-label">Mật khẩu mới</label>
                <input type="password" class="form-control" placeholder="Nhập mật khẩu mới" formControlName="password" [ngClass]="{ 'is-invalid': submitted && password?.errors}">

                <div *ngIf="submitted && password?.invalid" class="invalid-feedback">
                    <div *ngIf="password?.errors?.['required']">Bạn chưa nhập mật khẩu</div>
                    <div *ngIf="password?.errors?.['maxlength']">Mật phải khẩu nhỏ hơn 50 ký tự</div>
                </div>
            </div>

            <div class="col-sm-12">
                <label for="confirm" class="form-label">Xác nhận mật khẩu</label>
                <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" formControlName="confirm" [ngClass]="{ 'is-invalid': submitted && confirm?.errors}">

                <div *ngIf="submitted && confirm?.invalid" class="invalid-feedback">
                    <div *ngIf="confirm?.errors?.['required']">Bạn chưa nhập lại mật khẩu</div>
                    <div *ngIf="confirm?.errors?.['maxlength']">Mật phải khẩu nhỏ hơn 50 ký tự</div>
                </div>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Lưu</button>
            </div>
        </form>
    </div>
</div>